@media (max-width: 500px) {
    .caja {
        width: 250px;
        height: 250px;
        background-color: orange;
    }
}

@media (min-width:501px) {
    .caja {
        width: 500px;
        height: 500px;
        background-color: red;
    }
}